.avatar > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post-item-container {
  padding: 8px 16px;
  align-items: start;
  display: flex;
  flex-direction: row;
  border: solid 2px #f3f6f9;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px
}

/* how to evenly distribute elements in a div next to each other? */
/* source: https://stackoverflow.com/questions/7245018/how-to-evenly-distribute-elements-in-a-div-next-to-each-other */
.bottom-icons-container {
  table-layout: fixed;
  display: table;
  width: 100%;
}

.cell-container {
  display: table-cell;
  text-align: center;
}
